@media (max-width: 1023px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (max-width: 1023px) {
    .logotype {
        display: none;
    }
}
@media (max-width: 1023px) {
    .section_cart_max_max {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 1023px) {
    .cart_form {
        margin-left: 0%;
        margin-top: 0%;
    }
}