$colorSelect:#FFFFFF;
$colorText:#000000;
$colorHover:#888888;
$colorActiveLink:#CACDD8;

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-top {
  background-color: #C4C4C4;
  background-image: url('./img/container-top__bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 735px;
}

.container-top-catalog {
  background-image: url('./img/container-top-catalog.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  background-color: #4b4b53;
}

.container-top-cart {
  background-image: url('./img/cart-top__bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  background-color: #4b4b53;
}

.header {
  height: 76px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  &__links {
    display: none;
  }
}

.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid $colorSelect;
  box-sizing: border-box;
  border-radius: 20px;
  background: transparent;
  padding-left: 32px;
  font-size: 16px;
  line-height: 20px;
  color: $colorSelect;
}

.header__input::placeholder {
  color: $colorSelect;
}

.header-catalog__title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: $colorSelect;
  margin-top: 127px;
}

.catalog-main {
  padding-top: 64px;
}

.catalog-main_control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.breadcrumb {
  list-style: none;
  margin-bottom: 41px;
}
.breadcrumb__item {
  display: inline;

}
.breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
}

.breadcrumb__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: $colorText;
}

.sort {
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 20px;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 14px;
  margin-bottom: 41px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $colorText;
}

.sort-icon {
  margin-left: 33px;
  margin-right: 22px;
}

.catalog-grid_item {
  grid-column: span 4;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $colorSelect;
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.for {
  padding-top: 64px;
}

.for__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: $colorText;
  padding-bottom: 32px;
}

.for__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  grid-column: span 4;
  height: 415px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $colorSelect;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url('./img/for__item_rest.jpg');
}

.for__item_2 {
  background-image: url('./img/for__item_work.jpg');
}

.for__item_3 {
  background-image: url('./img/for__item_kitchen.jpg');
}

.for__item_4 {
  background-image: url('./img/for__item_child.jpg');
}

.for__item_5 {
  background-image: url('./img//for__item_bath.jpg');
}

.section-main__title{
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: $colorSelect;
  margin-top: 64px;
  margin-bottom: 16px;
  max-width: 792px;
}

.section-main__text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: $colorSelect;
  margin-bottom: 16px;
}

.section-main__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: $colorSelect;
}

.section-special {
  margin-top: 64px;
}

.section-special__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  align-items: center;
  color: $colorText;
  margin-bottom: 32px;
}

.section-special__link {
  margin-top: 31px;
  margin-bottom: 64px;
}

.section-special__link_mob2 {
  display: none;
}

.section-special__link1 {
  margin-top: 31px;
  margin-bottom: 64px;
}

.section-special__link-inner {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: $colorText;
}

.section-special__link-inner1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: $colorText;
}

.product-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
}

.product {
  width: 378px;
}

.product__title {
  margin-top:10px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $colorText;
  margin-top: 10px;
  margin-bottom: 7px;
}

.product__desk {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 13px;
}

.product__price {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product__price_old {
  text-decoration-line: line-through;
  color: #888888;
  padding-left: 32px;
}

.product__price_old-catalog {
  display: none;  
}

.cart__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 64px;
}

.cart__text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 14px;
  color: $colorText;
  width: 786px;
}

.card {

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 25px;
  }

  &__inner {
    margin-left: 31px;
    width: 276px;
  }

  &__title {
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 14px;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    padding-bottom: 16px;
  }

  &__price {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #050505;
    padding-bottom: 15px;
  }

  &__link {
    color: $colorText;
  }

  &__link-delete {
    padding-left: 30px;
  }
}

.card:not(:last-of-type) { 
  border-top: 0.5px solid #CACDD8;
  border-bottom: 0.5px solid #CACDD8;
}

.card_top {
  padding-bottom: 32px;
}

.card_bottom {
  padding-bottom: 32px;
}

.number {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

  &__inner {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 210%;
    box-sizing: border-box;
    width: 71px;
    height: 51px;
    background: #F7F6F6;
    border-radius: 6px;
    border: none;
    text-align: center;
    padding-right: 20px;
  }
}

.cart__btn {
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 33px;
    padding-right: 34px;
    color: #020202;
    background-color: transparent;
    margin-top: 50px;

  &-buy {
    background: #000000;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 22px;
    color: $colorSelect;
  }
}

@keyframes btn__order-btn {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-40px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.form {
  background: #F7F6F6;
  border-radius: 20px;
  width: 379px;
  
  &__wrapper {
    border-radius: 50px;
    margin-left: 33px;
    // margin-right: 22px;
    color: $colorText;
    text-align: center;
  }

  &__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-top: 42px;
    padding-bottom: 35px;
  }

  &__field {
    width: 288px;
    box-sizing: border-box;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    background-color: transparent;
    margin-left: 28px;
    margin-right: 33px;
    border-bottom: 1px solid #CACDD8;
  }

  &__name {
    margin-bottom: 44px;
  }

  &__tel {
    margin-bottom: 44px;
  }

  &__sum {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    padding-top: 64px;
    padding-bottom: 18px;
    text-align: center;
  }

  &__order-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 1px solid $colorText;
    background: #F7F6F6;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 11px;
    width: 290px;
    margin-bottom: 148px;
    text-align: center;
    animation: btn__order-btn 2s ease 1s 1 normal forwards;

    &:hover {
      background-color: $colorText;
      color: $colorSelect;
    }

    &:active {
      background-color: $colorHover;
      color: #FFFFFF;
      box-shadow: 12px 12px 20px 0px rgba(34, 60, 80, 0.29);
    }
  }
}

.section-special__link_mob {
  display: none;
}

.footer {
  background: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
}

.footer-wrapper {
  width: 272px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 12px;
}

.footer__link-wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.footer__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $colorHover;
  text-decoration: none;
  padding-top: 12px;
}

.footer__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $colorText;
  margin-bottom: 16px;
}

.footer__subscription-field {
  font-family: 'Roboto', sans-serif;
  background: $colorSelect;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 14px;
  width: 275.36px;
}

.footer__subscription-btn {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid $colorSelect;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275.36px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: $colorText;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 12px;

  &:hover {
    transition:0.1s;
    background-color: $colorText;
    color: #ffffff;
  }

  &:active {
    transition:0.1s;
    background-color: $colorHover;
    color: #ffffff;
  }
}

.product-cart__mobile {
  display: none;
}

.nav__link {

  &:hover {
    transition:0.1s;
    color: #CACDD8;
    text-decoration: underline;
  }

  &:active {
    transition:0.1s;
    color: #F7F6F6;
  }
}

.section-main__link{
  &:hover {
    transition:0.1s;
    color: $colorHover;
  }

  &:active {
    transition:0.1s;
    color: $colorActiveLink;
  }
}

.section-special__link-inner {
  &:hover {
    transition:0.1s;
    color: $colorHover;
  }

  &:active {
    transition:0.1s;
    color: $colorActiveLink;
  }
}

.section-special__link-inner1 {
  &:hover {
    transition:0.1s;
    color: $colorHover;
  }

  &:active {
    transition:0.1s;
    color: $colorActiveLink;
  }
}

.card__link {
  &:hover {
    transition:0.1s;
    color: $colorHover;
  }

  &:active {
    transition:0.1s;
    color: $colorActiveLink;
  }
}

.cart-btn__delete {
  &:hover {
    transition:0.1s;
    background-color: $colorText;
    color: $colorSelect;
  }

  &:active {
    transition:0.1s;
    background-color: #525252;
    color: $colorSelect;
  }
}

.cart__btn-buy {
  &:hover {
    transition:0.1s;
    background-color:$colorSelect;
    color: $colorText;
  }

  &:active {
    transition:0.1s;
    background-color: #7e7d7d;
    color: $colorSelect;
  }
}

  .footer__link {
  &:hover {
    transition:0.1s;
    color: #000000;
    text-decoration: underline;
  }

  &:active {
    transition:0.1s;
    color: #525252;
  }
}

.breadcrumb__link {
  &:hover {
  transition:0.1s;
  color: $colorHover;
  }

  &:active {
    transition:0.1s;
    color: $colorActiveLink;
  }
}

.product_icon {
  position: relative;
}

.product__photo_pic {
  position: absolute;
  top: 11px;
  right: 12px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.icon__social:hover path {
  fill: #000000;
}

.icon__social:active path {
  fill: $colorHover;
}



@media (min-width: 1024px) and (max-width: 1239px) {
  .center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px)
  }

  .product-content {
    justify-content: flex-start;
    gap: 32px;
  }
  
}

@import 'tablet';
@import 'mobile';